* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*contact page------------------------------*/
header#bg-contact{
    background: url(../images/bg-contact.jpg) no-repeat center center/cover;
    height: 500px;
}
.bg-wrap{
    position: relative;
}
.bg-wrap::before{
    background-image: url(../images/bottom-bg.jpg);
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 150% 40%;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 20;
    opacity: 0.3;
    right: 0;
    bottom: 0;
}
.contact-wrap{
    width: 80%;
    text-align: center;
    margin: auto;
    background: #fff;
    padding-top: 20px;
    margin-top: -100px;
}
.contact-wrap h1{
    text-transform: uppercase;
    color: #000057;
    font-size: 2rem;
}
.contact-wrap p{
    margin: 20px 0;

}
.contact-content{
    margin: 40px auto;
    border-bottom: 2px solid #000;
    width: 80%;
}
form{
    margin: 40px auto 0;
    width: 60%;
    padding-bottom: 4rem;
    z-index: 40;
    position: relative;
}
form label{
    display: block;
    text-align: left;
    margin-bottom: 0.3rem;
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-child{
    width: 45%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #efefef;
    border: none;
}
.form-box{
    margin-bottom: 2rem;
}
.select-box, .message-box, .send-button{
    text-align: left;
}
.select-box select, .message-title{
    width: 45%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #efefef;
    border: none;
}
.message-box textarea{
    display: block;
    width: 100%;
    height: 350px;
    margin-top: 1rem;
    background-color: #efefef;
    border: none;
    font-weight: bold;
    padding: 0.3rem;
}
.send-button input{
    padding: 0.3rem 1.6rem;
        margin-top: 1.5rem;
    color: #fff;
    background-color: #062561;
    border: solid #062561;
}

@media (max-width:768px) {
    .contact-wrap {
        width: 100%;
    }
    form{
        width: 80%;
    }
    .contact-info {
        display: block;
    }
    .contact-child, .select-box select, .message-title {
        width: 100%;
    }
    .message-box textarea{
        height: 150px;
    }
    .send-button{
        text-align: center;
    }
}